<div class="inner cover">
  <h1 class="cover-heading">Hello! I'm Hunter Orges!(Or-Jess)</h1>
  <p class="lead">Full-Stack Developer.</p>
  <p class="lead">
    <%= link_to "About me", about_me_path, class: "btn btn-lg btn-secondary" %>
  </p>

</div>