<div class="inner cover">
  <h1 class="cover-heading">Full Stack Developer.</h1>
  <p class="lead">Coding with integrity.</p>
  <p class="lead">
    <%= link_to "See my Work", about_me_path, class: "btn btn-lg btn-secondary" %>
  </p>

</div>